* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

.box {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.box-item {
  width: 300px;
  padding: 10px;
  background-color: #EEEEEE;
  position: relative;
  margin-right: 30px;
}

.box-item:last-of-type {
  margin-right: 0;
}

.box-step {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: white;
}

.box-image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.img1 { background-image: url(img/flow01.png); }
.img2 { background-image: url(img/flow02.png); }
.img3 { background-image: url(img/flow03.png); }

.box-heading {
  margin: 15px 0 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

/*Media Queries*/
@media screen and (max-width:768px) {

  .box {
    width: 100%;
    display: block;
  }

  .box-item {
    width: 90%;
    margin: 0 auto 20px;
  }

  .box-item:last-of-type {
    margin: 0 auto;
  }

  .box-image {
    height: 150px;
  }

}